/AcrylicWindow/AcrylicWindow/obj
/AcrylicWindow/AcrylicWindow/bin
/AcrylicWindow/AcrylicWindow/*
/WPF-UI Payment/PaymentScreen/PaymentScreen/obj
/WPF-UI Payment/PaymentScreen/PaymentScreen/bin
/DropDownMenu/DropDownMenu/bin
/DropDownMenu/DropDownMenu/obj
